ol{
    margin-left: -40;
    margin-top: -20;
    list-style-position: inside;
}
p{
    color: blue;
}
.note{
    font-size: 30px;
}
#id-selector-demo{
    color: darkgreen;
}
li[value="4"]{
   color:red;
}
*{
   text-align: center; 
}